*{
	margin: 0;
	padding: 0;

}

a{
	text-decoration: none;
}


/*****************
header css start here
******************/

header{
	width: 100%;
	padding: 50px 0px;
	display: flow-root;

}

.container{
	width: 1140px;
	margin: auto;

}

.nav-bar{
	width: 100%;
	height: 200px;
	float: left;

}

.logo{
	width: 25%;
	height: 200px;
	float: left;

}

.menu{
	width: 75%;
	height: 200px;
    float: right;
    text-align: right;
}

.menu ul li{
	display: inline-block;
	list-style: none;
}

.menu ul li a{
	padding: 0px 20px;
	font-family: 'Playfair Display', serif;
	color: #acacac;
	text-transform: uppercase;
	font-weight: 400;

}
/*******************
image css start here
********************/
.photo img{
	width: 100%;
	display: flow-root;
}
.info{
	
    padding: 70px;
}

.info h4{
	font-family: 'Ubuntu', sans-serif;
	color: #d9d6ce;
	margin-bottom: 20px;
}

.info h1{
	font-family: 'Playfair Display', serif;
	color: #626262;
	margin-bottom: 30px;
}

.info p{
	color: #626262;
	font-family: 'Playfair Display', serif;
	margin-bottom: 40px;

}

.info  span a{
	font-family: 'Ubuntu', sans-serif;
	color: #d9d6ce;

}
/*******************
all post css start here
********************/
.posts{
	width: 100%;
	display: flow-root;
}

.gallery{
	width: 100%;
	margin: auto;
	padding: 75px 0px;
}

.left{
	width: 46%;
	float: left;
	

}

.right{
	width: 46%;
	float: right;
}


.detail h4{
	font-family: 'Ubuntu', sans-serif;
	color: #d9d6ce;
	margin-bottom: 20px;
	padding-top: 20px;
}

.detail h1{
	font-family: 'Playfair Display', serif;
	color: #626262;
	margin-bottom: 30px;
}

.detail p{
	color: #626262;
	font-family: 'Playfair Display', serif;
	margin-bottom: 40px;

}


/****************
newsletter css start here
*****************/
.newsletter{
	width: 100%;
	background-color: #f0f0f0;
	display: flow-root;
	padding: 60px;
}

.sign-up{
	text-align: center;
}

.sign-up h1{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	margin: 30px 0px;

}

.sign-up input{
	font-family: 'Playfair Display', serif;
    padding: 15px 0px;
    width: 30%;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
}

.sign-up input:: placeholder{
	font-family: 'Playfair Display', serif;
	color: #9a9a9a;
	font-weight: 400;

}

.sign-up input:focus{
	outline: none;
	border-bottom-color:  #54C571;
}




/*******************
button css start here
********************/

.load{
	width: 100%;
	display: flow-root;
}

.click{
	text-align: center;


}

.click input{
	font-family: 'Playfair Display', serif;
    padding: 15px 1px;
    width: 15%;
    color: #6c6c6c;
    font-weight: 900;


}

/********************
footer part css start here
********************/
.footer{
	width: 100%;
	display: flow-root;
	background-color: #f0f0f0;
	margin-top: 100px;
}

.last{
    width: 1000px;
    margin: auto;
    padding: 75px 0;
}

.text{
	width: 50%;
	float: left;
	
}

.icon{
	width: 50%;
	float: right;
	
	text-align: right;

}

.text ul li{
	list-style: none;
	display: inline-block;
	padding: 0px 10px;
	color: #606060;
	font-family: 'Playfair Display', serif;

}

.icon ul li{
	list-style: none;
	display: inline-block;
	font-family: 'Playfair Display', serif;

}

.icon ul li a{
	padding: 0px 10px;
	color: #626262;

}
